/ {
    chosen {
        zmk,underglow = &underglow;
    };

    underglow: underglow {
        compatible = "worldsemi,ws2812";
        chain-length = <6>;
        color-mapping = <1 0 2>;
        status = "okay";
        out-pin = <6>;
    };
};
