/ {
    rgbled_strip: rgbled_strip {
        compatible = "zmk,rgb-led-strip";
        chain-length = <27>;
        color-mapping = <1 0 2>;
    };

    underglow: underglow {
        compatible = "zmk,underglow";
        chain-length = <27>;
        color-mapping = <1 0 2>;
    };
};

&spi1 {
    status = "okay";

    ws2812: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <27>;
        color-mapping = <1 0 2>;
    };
};
