/ {
    chosen {
        zmk,underglow = &underglow;
    };

    underglow: underglow {
        compatible = "zmk,rgb-underglow";
        chain-length = <27>;
        color-order = <1 0 2>;
    };
};
